langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

#langgraph 
langgraph

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn


torch
